<h1 class="title">Hello {{data.username}}</h1>
<img src="/images/{{data.avatar}}.svg" alt="">
<p class="phrase">{{data.phrase}}</p>


<div class="columnasProf">
    <div>
        <h2>READING NOW</h2>
        {{#each data.readingNow}}
            <a href="/books/book-details/{{book_id}}">
                <img src={{thumbnail}} alt={{title}}>
            </a>
            <p>{{title}}</p>  
        {{/each}}
    </div>
    <div>
        <h2>WISHLIST</h2>
        {{#each data.wishlist}}
            <a href="/books/book-details/{{book_id}}">
                <img src={{thumbnail}} alt={{title}}>
            </a>
            <p>{{title}}</p>
        {{/each}}
    </div>
    <div>
        <h2>BOOKS FINISHED</h2>
        {{#each data.booksFinished}}
            <a href="/books/book-details/{{book_id}}">
            <img src={{thumbnail}} alt={{title}}>
            </a>
            <p>{{title}}</p>
        {{/each}}
    </div>
</div>